[Desktop Entry]
Type=X-GNOME-Metatheme
Name=unicorn-dream
Comment=Pastel Pink Theme
Encoding=UTF-8

[X-GNOME-Metatheme]
GtkTheme=unicorn-dream
MetacityTheme=unicorn-dream
IconTheme=Yaru-magenta
CursorTheme=Yaru-magenta
CursorSize=24
